<div class="card">
  <a href="#" class="link">
    <!-- <div class="item_bg"></div> -->

    <div class="title">{{ stock.symbol }} {{ stock.name }}</div>

    <div class="date-box">
      QTY:
      <span class="date"> {{ stock.qty }} </span>
    </div>
    <div class="date-box">
      Price:
      <span class="date"> {{ stock.cost_Basis }} </span
      ><span>
      </span>
    </div>
    <div class="date-box">
      Status:
      <span class="date"> {{ this.status }} </span>
    </div>
  </a>
  <!-- Status not being sold (none) button -->
  <div
    class="sell-button"
    [id]="stock.id"
    (click)="onSellClick($event)"
    *ngIf="stock.status === 1 && stock.qty !== '0'"
  >
    <button class="button type1">
      <span class="btn-txt">Sell</span>
    </button>
  </div>

  <!-- Status For Sale (sell) button -->
  <div class="sell-button" *ngIf="stock.status === 2">
    <button class="button type1" style="background-color: #e38a31">
      <span class="btn-txt">For Sale</span>
    </button>
  </div>

  <!-- Status For Purchase button -->
  <div class="sell-button" *ngIf="stock.status === 3">
    <button class="button type1" style="background-color: #0a9a74">
      <span class="btn-txt">To Buy</span>
    </button>
  </div>
</div>
