
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a [routerLink]="['portfolio']">
          <i class="fa fa-files-o"></i>
          <span>Portfolio</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ stocks }}</span>
          </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['board']">
          <i class="fa fa-th"></i> <span>Public Board</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">{{ boardItems }}</small>
          </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['alpaca']">
          <i class="fa fa-th"></i> <span>Alpaca</span>
        </a>
      </li>

    </ul>
  </section>
</aside>
