.card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  align-self: center;
  max-width: 375px;
}

.link {
  display: block;
  padding: 30px 20px;
  background-color: #3c5772;

  overflow: hidden;

  position: relative;
}
.link:hover,
.link:hover .date {
  text-decoration: none;
  // color: #fff;
  color: #f9b234;
}
.link:hover .item_bg {
  // -webkit-transform: scale(10);
  // -ms-transform: scale(10);
  // transform: scale(10);
}

.sell-button:hover .date {
  text-decoration: none;
  color: #fff;
}

// .sell-button:hover .date.item_bg {
//   -webkit-transform: scale(10);
//   -ms-transform: scale(10);
//   transform: scale(10);
// }

.title {
  height: 90px;
  margin: 0 0 25px;

  overflow: hidden;
  // white-space: wrap;
  text-overflow: ellipsis;

  font-weight: bold;
  font-size: 20px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.date-box {
  font-size: 14px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.date {
  font-weight: bold;
  // color: #f9b234;
  color: #fff;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.item_bg {
  height: 128px;
  width: 128px;
  background-color: #344c64;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1500px) {
  .item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 720px) {
  .item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    // flex-basis: calc(100%-30px);
  }
  .title {
    min-height: 72px;
    line-height: 1;

    font-size: 20px;
  }
  .link {
    padding: 22px 40px;
  }
  .date-box {
    font-size: 14px;
  }
}

.sell-button {
  z-index: 999;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: block;
  width: fit-content;
  .button {
    height: 50px;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #3c5772;
    overflow: hidden;
    border-radius: 30px;
    color: white;
    transition: all 0.5s ease-in-out;
  }

  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 14px;
  }

  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }

  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }

  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
    color: #fff;
  }
}

.card:hover .button {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

