<div class="card">
  <a href="#" class="link">
    <!-- <div class="item_bg"></div> -->

    <div class="title">{{ position.symbol }} {{ position.name }}</div>

    <div class="date-box">
      QTY:
      <span class="date"> {{ position.qty }} </span>
    </div>
    <div class="date-box">
      Price:
      <span class="date"> {{ position.cost_Basis }} </span><span> </span>
    </div>
    <div class="date-box">
      <span class="date">
        {{ this.status }}
        <img
          id="alpaca-icon"
          src="assets/alpaca-icon.png"
          alt="alpaca-icon"
      /></span>
    </div>
  </a>
</div>
