.card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  align-self: center;
  max-width: 375px;
}

.link {
  display: block;
  padding: 30px 20px;
  background-color: #3c5772;
  overflow: hidden;
  position: relative;
}

.link:hover,
.link:hover .date {
  text-decoration: none;
  color: #f9b234;
}

.sell-button:hover .date {
  text-decoration: none;
  color: #fff;
}

.title {
  height: 90px;
  margin: 0 0 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.date-box {
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.date {
  font-weight: bold;
  color: #fff;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.item_bg {
  height: 128px;
  width: 128px;
  background-color: #344c64;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1500px) {
  .item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .stock-list-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .title {
    min-height: 72px;
    line-height: 1;

    font-size: 20px;
  }
  .link {
    padding: 22px 40px;
  }
  .date-box {
    font-size: 14px;
  }
}

.sell-button {
  z-index: 999;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: block;
  width: fit-content;
  .button {
    height: 50px;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #3c5772;
    overflow: hidden;
    border-radius: 30px;
    color: white;
    transition: all 0.5s ease-in-out;
  }
}

#alpaca-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  z-index: 999;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: fit-content;
}

.card:hover .button {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}
