<div
  class="card"
  [style]="
    status === 'For Sale'
      ? 'background-color:#e38a31'
      : 'background-color:#0a9a74'
  "
>
  <a href="#" class="link">
    <div class="date-box">
      <span class="date">{{ status }} </span>
    </div>

    <div class="title">{{ boardItem.symbol }} {{ boardItem.name }}</div>
    <div class="total-price">
      <div class="plan-cost">
        <span class="plan-price"
          >${{ boardItem.total_Price | number : "1.2-2" }}</span
        >
      </div>
    </div>

    <div class="date-box">
      QTY:
      <span class="date"> {{ boardItem.qty }} </span>
    </div>
    <div class="date-box">
      Price:
      <span class="date"> {{ boardItem.cost_Basis }} </span><span> </span>
    </div>
    <div class="date-box">
      User:
      <span class="date"> {{ boardItem.user_Id }} </span>
    </div>
  </a>
  <div class="sell-button">
    <button
      class="button type1"
      [id]="boardItem.id"
      *ngIf="boardItem.user_Id !== user_id"
      (click)="onBtnClick($event)"
    >
      <span class="btn-txt">{{ boardItem.status === 2 ? "Buy" : "Sell" }}</span>
    </button>
    <button class="button type1" *ngIf="boardItem.user_Id == user_id" (click)="cancelOrder(this.boardItem.id)">
      <span class="btn-txt">Cancel</span>
    </button>
  </div>
</div>
