<section class="content-header">
  <h1>
    Public Board
    <small>list of stocks to be bought and sold</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="empty-icon" *ngIf="boardItems.length === 0 && !isLoading">
    <div class="img">
      <img src="assets/no_products_found.png" alt="empty" />
    </div>
  </div>
  <div class="stocks-list-container">
    <app-board-item
      *ngFor="let item of boardItems"
      [boardItem]="item"
      [index]="boardItems.indexOf(item)"
      (reloadPage)="reloadPage()"
    ></app-board-item>
  </div>
</section>
