.content-header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .stocks-list-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
  }
  .empty-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    img {
      width: 150px;
    }
  }
}

:host {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1360px) {
  .stocks-list-container {
    > * {
      width: calc(50% - 30px);
    }
  }
}

@media screen and (max-width: 1128px) {
  .stocks-list-container {
    > * {
      width: calc(80%);
    }
  }
}
