<section class="content-header">
  <div class="title">
    <h1 style="display: block">
      Portfolio
      <small>list of your assets</small>
    </h1>
  </div>

  <div class="ballance">
    <h1 style="display: block">
      <small>Ballance</small> ${{ userBallance | number : "1.0-0" }}
      <small>+ ${{ stockBallance | number : "1.0-0" }} in stocks</small>
    </h1>
  </div>

  <button class="add-button" (click)="openBuyModal($event)">
    {{ buyModalOn || sellModalOn ? "Close" : "Buy Stocks" }}
  </button>
</section>

<!-- Main content -->
<section class="content">
  <div class="modal-container" *ngIf="buyModalOn">
    <app-buy-modal (closeModal)="closeModal()"></app-buy-modal>
  </div>
  <div class="modal-container" *ngIf="sellModalOn">
    <app-sell-modal
      [stock]="sellModalStock"
      (closeModal)="closeModal()"
    ></app-sell-modal>
  </div>

  <div class="empty-icon" *ngIf="stocks.length === 0 && !isLoading">
    <div class="img">
      <img src="../../../assets/no_products_found.png" alt="empty" />
    </div>
    <button
      class="add-button"
      *ngIf="stocks.length === 0 && !isLoading"
      (click)="addStocks()"
    >
      Add Stocks
    </button>
  </div>
  <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="stocks-list-container">
    <app-stock-card
      *ngFor="let stock of filteredeStocks"
      [stock]="stock"
      [index]="stocks.indexOf(stock)"
      (sellStock)="openSellModal($event)"
    ></app-stock-card>
    <app-alpaca-stock
      *ngFor="let position of positions"
      [position]="position"
      [index]="positions.indexOf(position)"
    ></app-alpaca-stock>
  </div>
</section>

<!-- <ol class="breadcrumb">
  <li>
    <a href="#"><i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li><a href="#">Examples</a></li>
  <li class="active">My Assets</li>
</ol> -->
