<section class="content-header">
  <h1 style="display: block">
    Portfolio
    <small>list of your stocks</small>
  </h1>

  <button (click)="openBuyModal($event)">
    {{ buyModalOn || sellModalOn ? "Close" : "Buy Stocks" }}
  </button>
</section>

<!-- Main content -->
<section class="content">
  <button
    *ngIf="stocks.length === 0 && isLoading == false"
    (click)="addStocks()"
  >
    Add Stocks
  </button>
  <div class="modal-container" *ngIf="buyModalOn">
    <app-buy-modal (closeModal)="closeModal()"></app-buy-modal>
  </div>
  <div class="modal-container" *ngIf="sellModalOn">
    <app-sell-modal
      [stock]="sellModalStock"
      (closeModal)="closeModal()"
    ></app-sell-modal>
  </div>
  <div class="stocks-list-container">
    <div class="spinner" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <app-card
      *ngFor="let stock of stocks"
      [stock]="stock"
      [index]="stocks.indexOf(stock)"
      (sellStock)="openSellModal($event)"
    ></app-card>
  </div>
</section>

<!-- <ol class="breadcrumb">
  <li>
    <a href="#"><i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li><a href="#">Examples</a></li>
  <li class="active">My Assets</li>
</ol> -->
