<section class="content-header">
  <h1 style="display: block">
    Portfolio
    <small>list of your stocks</small>
  </h1>

  <button (click)="openBuyModal()">
    {{ isModalOn ? "Close" : "Buy Stocks" }}
  </button>

  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">My Assets</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content">
  <button *ngIf="stocks.length === 0" (click)="addStocks()">Add Stocks</button>
  <div class="modal-container" *ngIf="isModalOn">
    <app-buy-modal></app-buy-modal>
  </div>
  <div class="stocks-list-container">
    <app-card
      *ngFor="let stock of stocks"
      [stock]="stock"
      [index]="stocks.indexOf(stock)"
      (sellStock)="sellStock($event)"
    ></app-card>
  </div>
</section>

<!-- /.content -->

<!-- <div class="box"> -->
<!-- <div class="box-header with-border">
    <h3 class="box-title">Title</h3>

    <div class="box-tools pull-right">
      <button
        class="btn btn-box-tool"
        data-toggle="tooltip"
        data-widget="collapse"
        title="Collapse"
        type="button"
      >
        <i class="fa fa-minus"></i>
      </button>
      <button
        class="btn btn-box-tool"
        data-toggle="tooltip"
        data-widget="remove"
        title="Remove"
        type="button"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div> -->
<!-- <div class="box-body">Start creating your amazing application!</div> -->
<!-- <div class="box-footer">Footer</div> -->
<!-- /.box-footer-->
<!-- </div> -->
